
<div class="container profile-page">

  <div class="d-flex justify-content-center">
    <% if @user.photo.attached? %>
      <%= image_tag @user.photo, class:"profile-photo" %>
    <% else %>
     <p>No profile photo added</p>
    <% end %>
  </div>
  <div class="line-break"></div>
  <div class="profile-info">
    <p><strong>First name: </strong><%= @user.first_name %></p>
    <p><strong>Last name: </strong><%= @user.last_name  %></p>
    <p><strong>Email: </strong><%= @user.email %></p>
    <div class="edit-profile">
    <button class="btn edit"><%= link_to "Edit", edit_profile_path %></button>
    <button class="btn signout"><%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}%></button>
    </div>
  </div>

  <div class="profile-button">
  <% unless @user == current_user %>
    <%= link_to user_chatrooms_path(@user), data: {turbo_method: :post}, class: "btn message" do %>
    <%= image_tag "icons8-message-100.png" %>
    <p>message</p>
    <% end %>
  <% end %>

  </div>
</div>
