
<div class="container profile-page">

  <div class="d-flex justify-content-center">
    <% if @user.photo.attached? %>
      <%= image_tag @user.photo, class:"profile-photo" %>
    <% else %>
     <p>No profile photo added</p>
    <% end %>
  </div>

  <%= link_to destroy_user_session_path(@current_user), data: {turbo_method: :delete}, class: "signout" do %>
    <img src="<%= image_path('icons8-sign-out-50.png',class: "image-2") %>"/>
    <p class ="word">Sign Out</p>
  <% end %>

  <div class="line-break"></div>
  <div class="profile-info">
    <p><strong>First name: </strong><%= @user.first_name %></p>
    <p><strong>Last name: </strong><%= @user.last_name  %></p>
    <p><strong>Email: </strong><%= @user.email %></p>
  </div>
  <div class="buttons d-flex justify-content-between">

    <div class="profile-button p-3 border mt-3 font-weight-bold">
      <% unless @user == current_user %>
        <%= link_to user_chatrooms_path(@user), data: {turbo_method: :post}, class: " message" do %>
          <img src="<%= image_path('icons8-message-50.png',class: "image-2") %>"/>
          <p class ="word">Chat</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
