<div class="container chat">
  <h1><i class="fa-regular fa-comments"></i> Messages</h1>
  <div class="chat-options">
<% @chatrooms.each do |chatroom| %>
<div id ="chatroom<%= chatroom.name %>" class="chat-list">
<%= link_to chatroom_path(chatroom) do %>
 <p><%= chatroom.receiver.first_name %> <%= chatroom.receiver.last_name %></p>
<p><%= (((Time.now - chatroom.updated_at).to_f / 60) /60).floor %> hours ago</p>
<% end %>
</div>
<% end %>
