 <div class="container">
    <div class="small-map">
      <a href="<%= map_path %>">
        <%= render "map" %>
      </a>
    </div>
      <div class="center fs-2">
        <div class="row">
          <div class="button-container fs-2">
            <div class="btn btn-light p-3 border small-button mt-3 font-weight-bold" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <img src="<%= image_path('icons8-danger-50.png',class: "description") %>"/>
              <br>
              <%= link_to 'Report', new_report_path, class: "color"%> </div>

              <%= link_to map_path({path: true}), id:'get-home', class: "btn btn-light p-3 border small-button mt-3 font-weight-bold" do %>
                <img src="<%= image_path('icons8-home-50.png',class: "description") %>"/>

                  <br>
                    Go home
              <% end %>
                <div class="btn btn-light p-3 border small-button mt-3 font-weight-bold">
                  <img src="<%= image_path('icons8-lock-250.png',class: "description") %>"/>
                    <br>
                  Be Safe</div>
            </div>
        </div>
      </div>
</div>
