 <div class="container">
    <div class="small-map">
      <a href="<%= map_path %>">
        <%= render "map" %>
      </a>
    </div>
      <div class="center fs-2">
        <div class="row">
          <div class="button-container fs-2">
              <%= link_to new_report_path, id:'get-home', class: "btn btn-light p-3 border small-button mt-3 font-weight-bold" do %>
                <img src="<%= image_path('icons8-danger-50.png',class: "description") %>"/>
                  <br>
                    Report
              <% end %>
              <%= link_to map_path({path: 0}), id:'get-home', class: "btn btn-light p-3 border small-button mt-3 font-weight-bold" do %>
                <img src="<%= image_path('icons8-home-50.png',class: "description") %>"/>
                  <br>
                    Go home
              <% end %>
                  <%= link_to map_path({path: 1}), id:'get-home', class: "btn btn-light p-3 border small-button mt-3 font-weight-bold" do %>
                <img src="<%= image_path('icons8-lock-250.png',class: "description") %>"/>
                  <br>
                    Be safe
              <% end %>
            </div>
          </div>
      </div>
    </div>
</div>
