 <div class="container">
    <div class="small-map">
      <a href="<%= map_path %>">
        <%= render "map" %>
      </a>
    </div>
      <div class="center">
        <div class="row">
          <div class="button-container">
            <div class="btn btn-light p-2 border small-button mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <img src="<%= image_path('icons8-danger-50.png') %>"/>
              <br>
              <%= link_to 'Report', new_report_path, class: "color"%> </div>

              <%= link_to map_path({path: 0}), id:'get-home', class: "btn btn-light p-2 border small-button mt-3" do %>
                <img src="<%= image_path('icons8-home-50.png') %>"/>
                  <br>
                    Go home
              <% end %>
                  <%= link_to map_path({path: 1}), id:'get-home', class: "btn btn-light p-2 border small-button mt-3" do %>
                <img src="<%= image_path('icons8-home-50.png') %>"/>
                  <br>
                    Get safe
              <% end %>
            </div>
        </div>
      </div>
</div>
