<%# If user is signed in, redirect to /homepage %>
<% if user_signed_in? %>
  <% redirect_to homepage_path %>
<% end %>
<div class="banner">
  <div class="tag-line">
    <%= image_tag "angel-test.png"%>
    <h2>Helping women feel safe in their city.</h2>
    <p>Safe route planning. Safe places. Advice.</p>
  </div>
  <div class="image">
    <%= image_tag "banner-image.jpg", class:"banner-image" %>
  </div>
</div>
<div class="container">
  <div class="visitor-page-info my-5">
    <div class="route-planning-info d-flex justify-content-start align-items-center">
      <%= image_tag "route-planning-info.png" %>
      <p>Map your way from A to B, with intelligently safe routes. Avoid crime spots and quiet streets.</p>
    </div>
    <div class="safe-places-info d-flex justify-content-end align-items-center">
      <p class="ms-4 pe-4">Find verified Safe Places. Fast.</p>
      <%= image_tag "safe-places-info.png" %>
    </div>
    <div class="tips-info d-flex justify-content-start align-items-center">
      <%= image_tag "tips-and-tricks.png" %>
      <p class="px-4">Get tailored tips and tricks for staying safe.</p>
    </div>
    <%# if there is no user session, display sign up and login buttons %>
    <% if !user_signed_in? %>
     <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-light rounded-4"%>
     <br>
     <%= link_to "Login", new_user_session_path, class:"btn btn-dark rounded-4"%>
    <% end %>
  </div>

</div>
