<%= image_tag "background-image.jpg", class:"background-image" %>
  <div class="banner">
    <div class="tag-line">
      <%= image_tag "angel-test.png", class:"logo" %>
      <h3>Helping women feel safe in their city.</h3>
      <p>Safe route planning. Safe places. Advice.</p>
    </div>
    <div class="image">
      <%= image_tag "banner-image.jpg", class:"banner-image" %>
    </div>
  </div>

<div class="container text-center my-5">
<div>
  <%= image_tag "route-planning.jpg" %>
  <p>Map your way from A to B, with intelligently safe routes. Avoid crime spots and quiet streets.</p>
</div>
<div>
  <%= image_tag "" %>
  <p>Find verified Safe Places. Fast.</p>
</div>
<div>
  <%= image_tag "" %>
  <p>Get tailored tips and tricks for staying safe.</p>
</div>
</div>
