<%= image_tag "background-image.jpg", class:"background-image" %>
  <div class="banner">
    <div class="tag-line">
      <%= image_tag "angel-test.png"%>
      <h3>Helping women feel safe in their city.</h3>
      <p>Safe route planning. Safe places. Advice.</p>
    </div>
    <div class="image">
      <%= image_tag "banner-image.jpg", class:"banner-image" %>
    </div>
  </div>
<div class="container">
  <div class="visitor-page-info text-center my-5">
    <div class="route-planning-info text-center text-md-right d-flex justify-content-start align-items-center">
      <%= image_tag "route-planning-info.png" %>
      <p>Map your way from A to B, with intelligently safe routes. Avoid crime spots and quiet streets.</p>
    </div>
    <div class="safe-places-info text-right d-flex justify-content-end align-items-center">
      <p>Find verified Safe Places. Fast.</p>
      <%= image_tag "safe-places-info.png" %>
    </div>
    <div class="tips-info text-md-right d-flex justify-content-start align-items-center">
      <%= image_tag "tips-and-tricks.png" %>
      <p>Get tailored tips and tricks for staying safe.</p>
    </div>
     <input class="btn btn-light" type="reset" value="Sign Up">
  </div>

</div>
