
<div class="container mt-4">
  <div class="row">
    <div class="col">

        <div class="posts"> <%# This posts class is also used in the communities show view %>

        <%= link_to image_tag("back-button2.png", alt: "Back", class: "d-flex rounded-4 mt-2 ml-1"), community_path %>
          <p id="title"><%= @post.title %></p>
          <p id="content"><%= @post.content %></p>

              <div class="d-flex justify-content-between">
              <p>Sent by <%= @post.user.first_name %></p>
              <p><%= @post.created_at.strftime("%d %B %Y %H:%M") %> </p>
            </div>


        <div class="d-flex justify-content-start ml-3">

          <% if current_user.voted_up_for? @post %>
            <%= link_to like_post_path(@post), data: {turbo_method: :patch} do %>
              <div class="icon-btn mr-2" id="like"><%= image_tag 'like_button' %></div>
            <% end %>
          <% else %>
            <%= link_to like_post_path(@post), data: {turbo_method: :patch} do %>
              <div class="icon-btn mr-2" id="like"><%= image_tag 'unlike_button' %></div>
            <% end %>
          <% end %>


          <div class="counter mr-4 mt-2">
            <%= @post.votes_for.size %>
          </div>

            <div data-controller="scroll-down" data-action="click->scroll-down#scrollDown">
                <div class="icon-btn" id="comment"><%= image_tag 'comment' %></div>
            </div>


        </div>

        <div class="line-break"></div>

            <div class="comments-container p-2">
              <% @post.comments.each do |comment| %>
                <div class="text-box-comments">

                  <div class="d-flex justify-content-between">
                    <p><strong><%= comment.user.first_name %> replied:</strong></p>
                    <p><%= comment.created_at.strftime("%d %B %Y %H:%M") %></p>
                  </div>


                  <p id="content"><%= comment.content.capitalize %></p>
                  <div class="d-flex justify-content-end mb-2">
                  <% if current_user.voted_up_for? comment %>
                    <%= link_to like_post_comment_path(@post, comment), data: {turbo_method: :patch}, class: "d-flex" do %>
                      <div class="icon-btn" id="like-response"><%= image_tag 'like_button' %></div>
                      <div class="counter mr-3 mt-1"> <%= comment.votes_for.size %></div>
                    <% end %>
                  <% else %>
                    <%= link_to like_post_comment_path(@post, comment), data: {turbo_method: :patch}, class: "d-flex" do %>
                      <div class="icon-btn" id="like-response"><%= image_tag 'unlike_button' %></div>
                      <div class="counter mr-3 mt-1"> <%= comment.votes_for.size %></div>
                  <% end %>
                  <% end %>
                  </div>
                </div>

             <% end %>
            </div>



          <%= simple_form_for [@post, @comment] do |f| %>
          <div class="container">
            <%= f.input :content, label: false, placeholder: "Add a comment", input_html: { style: "white-space: pre-wrap; height: auto;" } %>
            <%= f.submit "Submit", class: "btn btn-dark rounded-4 w-100 mt-3 mb-4" %>
          </div>
          <% end %>

        </div>

        </div>

    </div>
  </div>
</div>
