<div class="container">
  <div class="row">
    <div class="col">

      <div class="d-flex justify-content-between mt-4">
        <%= link_to communities_path do %>
        <div><i class="fa-solid fa-circle-arrow-left back-button-arrow"></i></div>
        <% end %>
          <h2 class="mt-2" id="community_name"><%= @community.name %></h2>
            <div data-bs-toggle="modal" data-bs-target="#exampleModal" id="add_button">
              <%= link_to new_report_path do %>
      <i class="fa-solid fa-circle-plus new-report-button"></i>
    <% end %>
      </div>

      </div>

    <% @community.posts.each do |post| %>

      <%= link_to post_path(post) do %>
      <%# This posts class is also used in the posts show view %>
      <div class="posts">

        <p id="title"><%= post.title %></p>
        <p id="content"><%= post.content.truncate(55) %></p>

        </div>
      <% end %>
    <% end %>

<br>
<br>

<%= render 'shared/addposts' %>

      </div>
    </div>
</div>
</div>
