<div class="report-pages px-2">

<div class="d-flex justify-content-between mt-4 mb-4">
  <%= link_to image_tag("back-button2.png", alt: "Back", class: "d-flex rounded-4"), homepage_path %>
  <h3 class="mt-2">Reports in your area</h3>
  <%= link_to(image_tag("add_button.png", alt: "Add a report", class: "d-flex rounded-4"), new_report_path) %>
</div>

  <% @reports.each do |report| %>

    <div class="container reports-list px-4 mb-3 border-3">

       <div class="d-flex justify-content-between">
         <h5 class="pt-3 text-start"><%= image_tag "report.png", class: "report-icons" %><strong><%= report.report_type %></strong><h5>
</div>

      <div class="d-flex justify-content-between">
        <h5 class="text-start mt-1"><%= image_tag "location_icon.png", class: "report-icons" %>  <%= report.location.capitalize %></h5>
      </div>


      <div class="d-flex justify-content-between">
        <h6 class="text-start"><%= image_tag "time_icon.png", class: "report-icons" %> <%= report.date_and_time.strftime('%m/%d/%Y %H:%M %p') %></h6>
      </div>

        <div class="pb-1 text-start d-flex justify-content-start"><%= image_tag "happened_to_you.png", class: "report-icons" %>
          <% if report.did_it_happen_to_you %>
           <h6 class="mt-1 ml-1"> It happened to me</h6>
          <% else %>
           <h6 class="mt-1 ml-1">It happened to someone else</h6>
          <% end %>
      </div>

      <div class="d-flex justify-content-between">
        <h6 class="pb-2 mt-1 text-start"><%= image_tag "write_icon.png", class: "report-icons" %> <em><%= report.description.capitalize %></em></h6>
      </div>

    </div>
  <% end %>


</div>
