<div class="report-pages px-2">
  <h3 class="text-center py-4">Reports in your area</h3>

  <% @reports.each do |report| %>
    <div class="container reports-list px-4">
      <p class="pt-2 text-start"><strong>Report Type: </strong><%= report.report_type %></p>
      <p class="text-start"><strong>Location: </strong><%= report.location %></p>
      <p class="text-start"><strong>Time of incident: </strong><%= report.date_and_time %></p>
      <p class="pb-2 text-start"><strong>Description: </strong><%= report.description %></p>
    </div>
  <% end %>

<div class="d-flex justify-content-around p-3" >
  <p class=""><%= link_to "Back", homepage_path, class:"btn btn-dark rounded-4" %></p>
  <p class=""><%= link_to "Add a report", new_report_path, class:"btn btn-dark rounded-4" %></p>
</div>
</div>
