<div class="new-report">
  <h3 class="text-center py-4">Add a new report</h3>

  <div class="container reports-form w-75 py-4">
    <%= simple_form_for(@report) do |f|%>
      <%= f.input :report_type %>
      <%= f.input :location %>
      <%= f.input :description %>
      <%= f.submit %>
    <% end %>
  </div>

  <p class="px-4 mt-4"><%= link_to "Back", reports_path, class:"btn" %></p>
  <p class="px-4"><%= link_to "Home", root_path, class:"btn" %></p>
</div>
