<!DOCTYPE html>
<html>
  <head>
    <title>Project Angel - keeping women in London safe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <%= favicon_link_tag %>
  </head>

  <body>
    <div class="min-height">
      <%= yield %>
    </div>
    <% if user_signed_in? %>
      <%= render "shared/navbar" %>
    <% end %>
  </body>
</html>
